.product_listing{
    display: flex;
    padding: 10px 20px;
    .left{
        width: 25%;
        background-color: #fff;
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 transparent, 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
        margin: 10px 20px 0 0;
    }
    .right{
        width: 75%;
        display: flex;
        flex-wrap: wrap;
    }
}