.product_listing{
    min-height: 600px;
}

.product_listing_container{
    display: flex;
    padding: 10px 20px;
    .left{
        width: 25%;
        background-color: #fff;
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 transparent, 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
           margin-right: 20px;
    }
    .right{
         width: 75%;
        .sort_by{
            background-color: #fff;
            box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 transparent, 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
            height: 60px;
            margin-bottom: 8px;
        }
        .product_list{
            display: flex;
            flex-wrap: wrap;
        }       
    }
}