.product_card{
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,.1),0 1px 1px 0 transparent,0 1px 3px 0 rgba(0,0,0,.12)!important;
    margin: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    position: relative;
    .product_img{
        background: #f6f6f6;
        margin: 0 10px;
        transition: .4s;
        max-width: 150px;
        margin: auto;
    }
    .product_info{
        padding: 10px;
        .category{
            margin-bottom: 4px;
            display: block;
            font-weight: 300;
        }
        .name{
            font-size: 18px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-weight: 500;
        }
        .price{
            flex-direction: row;
            box-sizing: border-box;
            display: flex;
            place-content: center space-between;
            align-items: center;
        }
        .add_to_cart{
            background: #e2e2e2;
            cursor: pointer;
            transition: .3s;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 46px;
            position: absolute;
            right: 10px;
            bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background: #673ab7;
                color: #fff;
            }
            i{
                font-size: 18px;
            }
        }
    }
    .label{
        position: absolute;
        z-index: 2;
        top: 9px;
        left: 9px;
        padding: 0 11px;
        font-size: 12px;
        line-height: 23px;
        font-weight: 600;
        min-width: 50px;
        text-align: center;
        color: #fff;
        &.new{
            background-color: #15c979;
            top: 35px;
        }
        &.sale{
            background-color: #e53d60;
        }
        &.outstock{
            background-color: #ffc427;
        }
    }
}
