.filters{
    overflow: hidden;
}

.filter{

}

.head{
    padding: 6px;
    background-color: #673ab7;
    color: #fff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
}
.body{
    padding: 10px;
    label{
        font-size: 15px;
        text-transform: capitalize;
        letter-spacing: 1px;
        margin-bottom: 5px;
        cursor: pointer;
    }
    span{
        color: #673ab7;
    }
}