.header{
background-color: #673ab7;
}
.top_header{
    padding: 10px 5%;
    display: flex;
    align-items: center;
    .logo{
        width: 20%;
        img{
            max-width: 100%;
        }
    }
    .search{
        width: 50%;
        margin: 0 auto;
        padding: 13px 0;
       label{
           display: none;
       }
        .search_input{
            width: 100%;
            height: 50px;
            border-radius: 30px;
            padding: 0 20px;
            transition: width 0.4s linear;
            box-shadow: none;
            border: 1px solid #d4d4d4;
        }
    }
    .account{
        width: 20%;
        button{
            margin: 0 4px;
            background: #522e92;
            border: 1px solid #522e92;
        }
    }

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        .logo{
            position: absolute;
            left: 20px;
            top: 20px;
        }
         .search{
            position: absolute;
            width: 68%;
            top: 0;
            right: 20px;
            .search_input{
                height: 35px;
                padding: 0 10px;
            }
         }
        .account{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: 50px;
        }
    }
}
