.page_footer{
    background-color: #673ab7!important;
    color: #fff;
}
.footer_copyright{
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255,255,255,.6);
    background-color: rgba(0,0,0,.2);
    text-align: center;
    font-size: .9rem;
}

.footer_socials{
    text-align: center;
    margin: 30px 0 10px;
    display: flex;
    justify-content: center;
    a{
        margin: 0 10px;
        i{
            display: block;
        }
    }
}

.rgba_white_light{
    background-color: rgba(255,255,255,.3)!important;
}