.call_us{
    background-color: #522e92;
    padding: 20px 10%;
    margin: 24px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    img{
        margin-right: 25px;
    }
    .info{
        display: flex;
        align-items: center;
        h3 {
            font-size: 18px;
            margin-right: 25px;
            line-height: 1;
        }
        h2 {
            font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1920 - 320)));
        }

    }
    @media only screen and (max-width: 600px) {
        .info{
            flex-direction: column;
            text-align: center;
             h3 {
                margin-right: 0;
             }
        }
    }
   
}