.mk_admin{
    header{
        height: 60px;
        background-color: #673ab7!important;
    }

    .admin_container{
        display: flex;
        min-height: 92vh;
    }
    .left{
        width: 300px;
        background-color: #673ab7!important;
        li{
            height: 40px;
            background-color: rgba(0,0,0,.2);
            color: #fff;
            display: flex;
            align-items: center;
            padding: 10px;
            margin-bottom: 1px;
            cursor: pointer;
            a{
                width: 100%;
                height: 100%;
            }
        }
    }
    .right{
        width: 100%;
        padding: 10px;
    }
}