.services{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    .service{
        padding: 10px;
        text-align: center;
        svg{
            max-width: 70px;
            max-height: 70px;
            margin-bottom: 10px;
        }
    }
}